/* line 17, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 52, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 60, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 71, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 78, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 91, ../scss/_normalize.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 105, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 111, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 127, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 134, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 147, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 152, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 157, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 162, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 167, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 172, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 180, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 187, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 199, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 205, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 224, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 234, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 242, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 258, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 265, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 273, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 280, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 284, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 336, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 345, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 355, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 372, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 383, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 400, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 413, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 423, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 438, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 449, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 459, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 471, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 482, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 490, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 499, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 510, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =Comments
-------------------------------------------------------------- */
/* line 5, ../scss/_comments.scss */
.comments-title {
  margin-bottom: 48px;
  margin-bottom: 3.428571429rem;
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.5;
  font-weight: normal;
}

/* line 13, ../scss/_comments.scss */
.comments-area article {
  margin: 24px 0;
  margin: 1.714285714rem 0;
}

/* line 17, ../scss/_comments.scss */
.comments-area article header {
  margin: 0 0 48px;
  margin: 0 0 3.428571429rem;
  overflow: hidden;
  position: relative;
}

/* line 23, ../scss/_comments.scss */
.comments-area article header img {
  float: left;
  padding: 0;
  line-height: 0;
}

/* line 29, ../scss/_comments.scss */
.comments-area article header cite,
.comments-area article header time {
  display: block;
  margin-left: 85px;
  margin-left: 6.071428571rem;
}

/* line 34, ../scss/_comments.scss */
.comments-area article header cite {
  font-style: normal;
  font-size: 15px;
  font-size: 1.071428571rem;
  line-height: 1.42857143;
}

/* line 40, ../scss/_comments.scss */
.comments-area article header time {
  line-height: 1.714285714;
  text-decoration: none;
  font-size: 12px;
  font-size: 0.857142857rem;
  color: #5e5e5e;
}

/* line 47, ../scss/_comments.scss */
.comments-area article header a {
  text-decoration: none;
  color: #5e5e5e;
}

/* line 51, ../scss/_comments.scss */
.comments-area article header a:hover {
  color: #21759b;
}

/* line 54, ../scss/_comments.scss */
.comments-area article header cite a {
  color: #444;
}

/* line 57, ../scss/_comments.scss */
.comments-area article header cite a:hover {
  text-decoration: underline;
}

/* line 60, ../scss/_comments.scss */
.comments-area article header h4 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 12px;
  padding: 0.428571429rem 0.857142857rem;
  font-size: 12px;
  font-size: 0.857142857rem;
  font-weight: normal;
  color: #fff;
  background-color: #0088d0;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #009cee, #0088d0);
  background-image: -ms-linear-gradient(top, #009cee, #0088d0);
  background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
  background-image: -o-linear-gradient(top, #009cee, #0088d0);
  background-image: linear-gradient(top, #009cee, #0088d0);
  border-radius: 3px;
  border: 1px solid #007cbd;
}

/* line 80, ../scss/_comments.scss */
.comments-area li.bypostauthor cite span {
  position: absolute;
  margin-left: 5px;
  margin-left: 0.357142857rem;
  padding: 2px 5px;
  padding: 0.142857143rem 0.357142857rem;
  font-size: 10px;
  font-size: 0.714285714rem;
}

/* line 90, ../scss/_comments.scss */
a.comment-reply-link,
a.comment-edit-link {
  color: #686868;
  font-size: 13px;
  font-size: 0.928571429rem;
  line-height: 1.846153846;
}

/* line 97, ../scss/_comments.scss */
a.comment-reply-link:hover,
a.comment-edit-link:hover {
  color: #21759b;
}

/* line 100, ../scss/_comments.scss */
.commentlist .pingback {
  line-height: 1.714285714;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}

/* Comment form */
/* line 107, ../scss/_comments.scss */
#respond {
  margin-top: 48px;
  margin-top: 3.428571429rem;
}

/* line 111, ../scss/_comments.scss */
#respond h3#reply-title {
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.5;
}

/* line 116, ../scss/_comments.scss */
#respond h3#reply-title #cancel-comment-reply-link {
  margin-left: 10px;
  margin-left: 0.714285714rem;
  font-weight: normal;
  font-size: 12px;
  font-size: 0.857142857rem;
}

/* line 123, ../scss/_comments.scss */
#respond form {
  margin: 24px 0;
  margin: 1.714285714rem 0;
}

/* line 127, ../scss/_comments.scss */
#respond form p {
  margin: 11px 0;
  margin: 0.785714286rem 0;
}

/* line 131, ../scss/_comments.scss */
#respond form p.logged-in-as {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}

/* line 135, ../scss/_comments.scss */
#respond form label {
  display: block;
  line-height: 1.714285714;
}

/* line 140, ../scss/_comments.scss */
#respond form input[type="text"],
#respond form textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.714285714;
  padding: 10px;
  padding: 0.714285714rem;
  width: 100%;
}

/* line 150, ../scss/_comments.scss */
#respond form p.form-allowed-tags {
  margin: 0;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  color: #5e5e5e;
}

/* line 157, ../scss/_comments.scss */
.required {
  color: red;
}

/* line 3, ../scss/screen.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: url("../images/black_linen_v2.png") top left repeat;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

/* line 11, ../scss/screen.scss */
body {
  overflow-x: hidden;
}

/* line 14, ../scss/screen.scss */
a {
  text-decoration: none;
  font-weight: 700;
  color: #00669f;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #00669f;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #00669f;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00456c;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #00669f;
}

/* line 20, ../scss/screen.scss */
p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

/* line 25, ../scss/screen.scss */
h1 {
  font-weight: 900;
  font-size: 2em;
  line-height: 1.2em;
  text-transform: uppercase;
}

/* line 33, ../scss/screen.scss */
h2 {
  font-weight: 900;
  font-size: 1.75em;
  line-height: 1.2em;
}

/* line 39, ../scss/screen.scss */
h3 {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}

/* line 46, ../scss/screen.scss */
#main_header {
  height: 50px;
}
/* line 48, ../scss/screen.scss */
#main_header a {
  color: #eeeeee;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main_header a:visited {
  color: #eeeeee;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main_header a:focus {
  color: #eeeeee;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main_header a:hover {
  color: white;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#main_header a:active {
  color: #eeeeee;
}
/* line 51, ../scss/screen.scss */
#main_header nav {
  float: right;
  margin-top: 6px;
}
/* line 54, ../scss/screen.scss */
#main_header nav a {
  display: block;
  float: left;
  padding: 10px;
}

/* line 61, ../scss/screen.scss */
#mini_logo {
  float: left;
  display: block;
  line-height: 50px;
  height: 50px;
  padding-left: 37px;
  background: url("../images/mini_logo.png") 1px 12px no-repeat;
}
/* line 68, ../scss/screen.scss */
#mini_logo:hover {
  color: #ccc;
}

/* line 73, ../scss/screen.scss */
.content {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 79, ../scss/screen.scss */
#banner {
  height: 225px;
  width: 100%;
  margin: 0 auto;
  background: url("../images/banner.jpg") center -171px no-repeat;
  position: relative;
}
/* line 85, ../scss/screen.scss */
#banner .content {
  position: relative;
  overflow: visible;
}

/* line 92, ../scss/screen.scss */
.home #banner {
  height: 450px;
  background-position: top center;
}
/* line 96, ../scss/screen.scss */
.home #logo {
  padding: 197px 0 0 20px;
}
/* line 99, ../scss/screen.scss */
.home .faded_area {
  height: 450px;
}

/* line 104, ../scss/screen.scss */
#logo {
  display: block;
  padding: 25px 0 0 20px;
  overflow: auto;
  color: white;
}
/* line 109, ../scss/screen.scss */
#logo h1 {
  float: left;
  width: 320px;
  padding: 6px 0 0 22px;
}
/* line 113, ../scss/screen.scss */
#logo h1 span {
  font-weight: 400;
  font-size: 0.5em;
  color: #ccc;
  display: block;
  text-transform: none;
  line-height: 1.3em;
}
/* line 122, ../scss/screen.scss */
#logo img {
  float: left;
}

/* line 126, ../scss/screen.scss */
.faded_area {
  position: absolute;
  width: 500px;
  height: 225px;
  top: 0;
  left: -500px;
  background-color: #aaa;
  opacity: 0.35;
}
/* line 134, ../scss/screen.scss */
.faded_area.right {
  right: -500px;
  left: auto;
}

/* line 140, ../scss/screen.scss */
.nav_ban {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 102, 159, 0.65);
  bottom: 0px;
  left: 0px;
}
/* line 146, ../scss/screen.scss */
.nav_ban > div {
  width: 900px;
  margin: 0 auto;
}

/* line 153, ../scss/screen.scss */
.menu {
  float: right;
}
/* line 155, ../scss/screen.scss */
.menu > li {
  float: left;
  display: block;
  position: relative;
  overflow: visible;
}
/* line 160, ../scss/screen.scss */
.menu > li.current_page_parent > a, .menu > li.current_page_item > a {
  background-color: white;
  color: #00669f;
}
/* line 164, ../scss/screen.scss */
.menu > li:last-of-type > .sub-menu {
  right: 0px;
  left: auto;
  z-index: 100;
}
/* line 170, ../scss/screen.scss */
.menu > li:hover > a, .menu > li:hover.current_page_parent {
  background: url("../images/black_linen_v2.png") top left repeat;
  color: #eee;
}
/* line 174, ../scss/screen.scss */
.menu > li:hover > .sub-menu {
  display: block;
}
/* line 178, ../scss/screen.scss */
.menu > li:last-child > a {
  border-right: 1px solid #00456c;
}
/* line 182, ../scss/screen.scss */
.menu a {
  display: block;
  padding: 10px 15px;
  background-color: rgba(0, 102, 159, 0.7);
  color: white;
  border-left: 1px solid #00456c;
}
/* line 190, ../scss/screen.scss */
.menu ul {
  display: none;
  position: absolute;
  z-index: 100;
  top: 36px;
  left: 0px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}
/* line 198, ../scss/screen.scss */
.menu ul li {
  float: none;
}
/* line 201, ../scss/screen.scss */
.menu ul a {
  white-space: nowrap;
  background: url("../images/black_linen_v2.png") top left repeat;
  min-width: 140px;
  border-bottom: 1px solid #555;
  border-left: none;
  color: #eee;
}
/* line 208, ../scss/screen.scss */
.menu ul a:hover {
  background-color: #111;
  background-image: none;
  color: white;
}

/* line 219, ../scss/screen.scss */
.middle {
  background-color: white;
  padding: 20px 0;
}

/* line 225, ../scss/screen.scss */
.main article {
  float: left;
  width: 550px;
}
/* line 228, ../scss/screen.scss */
.main article.full_width {
  width: 900px;
}
/* line 231, ../scss/screen.scss */
.main article img {
  max-width: 100%;
  height: auto;
}
/* line 236, ../scss/screen.scss */
.main .img_contain {
  float: right;
  margin: 25px 0px 20px 20px;
}
/* line 240, ../scss/screen.scss */
.main ul, .main ol {
  margin: 0 0 25px 25px;
}
/* line 242, ../scss/screen.scss */
.main ul li, .main ol li {
  margin: 10px 0 10px 25px;
}
/* line 244, ../scss/screen.scss */
.main ul li ul, .main ul li ol, .main ol li ul, .main ol li ol {
  margin: 0;
}
/* line 250, ../scss/screen.scss */
.main ul li {
  list-style-type: disc;
}
/* line 255, ../scss/screen.scss */
.main ol li {
  list-style-type: decimal;
}

/* line 263, ../scss/screen.scss */
.members_home .left {
  width: 58%;
  float: left;
}
/* line 267, ../scss/screen.scss */
.members_home .right {
  width: 38%;
  float: right;
}

/* line 273, ../scss/screen.scss */
.upcoming_events .button {
  margin-top: 25px;
}

/* line 279, ../scss/screen.scss */
.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-time {
  display: block;
}

/* line 282, ../scss/screen.scss */
.ai1ec-agenda-widget-view .ai1ec-date {
  background: none;
  border-top: none;
}

/* line 286, ../scss/screen.scss */
.ai1ec-agenda-widget-view .ai1ec-event > a {
  min-height: 51px;
}

/* line 289, ../scss/screen.scss */
.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-title {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-top: 3px;
  display: block;
  color: #333;
}

/* line 299, ../scss/screen.scss */
form input[type="text"], form input[type="password"], form input[type="email"] {
  border: none;
  outline: none;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 8px 8px 6px 8px;
  font-size: 18px;
}

/* line 309, ../scss/screen.scss */
#loginform {
  width: 308px;
  margin: 60px auto;
}
/* line 312, ../scss/screen.scss */
#loginform input[type="text"], #loginform input[type="password"], #loginform input[type="email"] {
  float: right;
  width: 200px;
}
/* line 317, ../scss/screen.scss */
#loginform label {
  float: left;
}
/* line 320, ../scss/screen.scss */
#loginform p {
  clear: both;
  overflow: hidden;
  line-height: 36px;
  margin-bottom: 10px;
}
/* line 325, ../scss/screen.scss */
#loginform p.login-remember, #loginform p.login-submit {
  float: right;
}

/* line 331, ../scss/screen.scss */
.sidebar {
  float: left;
  width: 300px;
  margin-left: 50px;
}
/* line 335, ../scss/screen.scss */
.sidebar li {
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 1.4em;
}
/* line 339, ../scss/screen.scss */
.sidebar li a {
  float: left;
  display: block;
  width: 260px;
}
/* line 344, ../scss/screen.scss */
.sidebar li:before {
  content: '>';
  float: left;
  color: #999;
  margin: 0 10px;
}

/* line 352, ../scss/screen.scss */
.widgettitle {
  font-size: 1em;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
  color: #006e33;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  font-weight: 400;
}

/* line 362, ../scss/screen.scss */
#blog_home_main, #search_main {
  float: left;
  width: 550px;
}

/* line 366, ../scss/screen.scss */
#main_footer {
  padding: 20px 0 100px 0;
}
/* line 368, ../scss/screen.scss */
#main_footer p {
  text-align: center;
  color: #ccc;
}
/* line 371, ../scss/screen.scss */
#main_footer p span {
  margin: 0 10px 0 0;
}
/* line 373, ../scss/screen.scss */
#main_footer p span:not(:last-child):after {
  content: '\2022';
  color: #666;
  margin-left: 10px;
}
/* line 379, ../scss/screen.scss */
#main_footer p strong {
  color: white;
}

/* line 56, ../scss/_buttons.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 386, ../scss/screen.scss */
.button, input[type='submit'] {
  display: inline-block;
  padding: .5em 2em .55em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: solid 1px #ccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #005e2c;
  background-color: #006e33;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b051), to(#006e33));
  background: -moz-linear-gradient(top, #00b051, #006e33);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:'#00b051', endColorstr:'#006e33');
  color: #f6f6f6;
}
/* line 29, ../scss/_buttons.scss */
.button:hover, input[type='submit']:hover {
  text-decoration: none;
}
/* line 32, ../scss/_buttons.scss */
.button:active, input[type='submit']:active {
  position: relative;
  top: 1px;
}
/* line 18, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button:visited, input[type='submit']:visited {
  color: #f6f6f6;
}
/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button:focus, input[type='submit']:focus {
  color: #f6f6f6;
}
/* line 24, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button:hover, input[type='submit']:hover {
  color: white;
}
/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.button:active, input[type='submit']:active {
  color: #f6f6f6;
}
/* line 42, ../scss/_buttons.scss */
.button:hover, input[type='submit']:hover {
  background-color: #005427;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a14a), to(#005427));
  background: -moz-linear-gradient(top, #00a14a, #005427);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:'#00a14a', endColorstr:'#005427');
}
/* line 45, ../scss/_buttons.scss */
.button:active, input[type='submit']:active {
  background-color: #00a14a;
  background: -webkit-gradient(linear, left top, left bottom, from(#006e33), to(#00a14a));
  background: -moz-linear-gradient(top, #006e33, #00a14a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr:'#006e33', endColorstr:'#00a14a');
  color: #b2d3c1;
}
